* {
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 62.5%; /* 10px default font size */
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box; /* The width and height properties include the padding and border, but not the margin */
}

.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}

.cf:after {
    clear: both;
}

.container {
	max-width: 1200px; 
	margin: 0 auto;
}

img {
	max-width: 100%;
}

p {
	line-height: 150%; 
}

ul li {
	list-style: none;
}

/* ===== HEADER ===== */

h1 {
	float: left;
	font-weight: 500;
	font-size: 2.5em;
	color: white;
	text-transform: uppercase;
	letter-spacing: .1em;
}

.top-nav {
	position: fixed;
	width: 100%;
	background: #120CE9;
	z-index: 999;
	padding: 30px 0px;
}

.logo {
	float: left;
	text-align: center;
	padding: 8px 0px;
}

.add-book {
	float: right;
}

.add-book img {
	width: 30px;
}

.bottom-nav {
	position: fixed;
	width: 100%;
	background: #EFEFEF;
	margin-top: 80px;
	height: 70px;
	z-index: 999;
}

.wrapper {
	max-width: 1180px;
	margin: 0 auto;
}

h2 {
	float: left;
	font-weight: 500;
	font-size: 2.5em;
	padding: 22.5px 0px;
}

input {
	border: 0;
}

.search-form input[type=text] {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

.search-form {
	float: right;
}

.search-input {
	background: url(../images/search.png) no-repeat right #EFEFEF;
	border-bottom: solid 5px black;
	padding: 15px 0px;
	width: 400px;
}

.search-input:focus, .add-search:focus {
	outline:none;
}

main {
	padding-top: 180px;
	z-index: 1;
	margin: 0 auto;
}

/* ===== BOOKS with Masonry ===== */

.books-index {
	max-width: 1180px;
	margin: 50px auto 0px auto;
	z-index: 3;
}

.item {
	position: relative;
	width: 25%;
	height: 300px;
	margin: 0px auto 10px auto;
	background-size: cover;
}

.item a {
	width: 100%;
	height: 100%;
	display: block;	
	color: #737171;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
}

.item a:hover {
	background: rgba(255,255,255,.9);	
}

.item a img {
	display: none;
	margin: 0 auto;
	padding-top: 90px;
}

.item a:hover img {
	display: block;
}

/* ===== BOOK DETS ===== */

h3 {
	float: left;
	font-weight: 500;
	font-size: 2.5em;
}

.book {
	float: left;
	width: 20%;
	margin: 0 auto;
}

.delete {
	clear:both;
	margin: 0 auto;
}

.book-dets div {
	padding: 5px 0px;
}

.book-dets {
	width: 78%;
	float: right;
	margin: 0 auto;
}

.book-title {
	font-size: 25px;
	font-weight: 500;
}

.author {
	font-size: 16px;
	font-weight: 400;
}

.year {
	font-size: 13px;
}

.details {
	padding-top: 20px;
	font-size: 15px;
}

/* ===== SEARCH ===== */

.exit {
	position: absolute;
	right: 0;
	padding: 10px 10px 0px 0px;
}

.container-search {
	padding-top: 100px;
	width: 80%;
	margin: 0 auto;
}

.search-page {
	background: #0A0783;
	color: white;
}

.add-search input {
	background: url(../images/search-white.png) no-repeat right #0A0783;
	border-bottom: solid 5px white;
	padding: 15px 0px;
	width: 100%;
	margin: 0 auto;
}

.add-search input[type=text] {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

.browse {
	padding-top: 60px;
	width: 100%;
}

.browse li {
	padding: 5px 0px;
}

.browse a {
	color: white;
}

.col1 {
	width: 20%;
	margin: 0% 2.5%;
	float: left;
	font-size: 16px;
}

.results {
	margin: 100px 0px;
	width: 100%;
}

.result-item {
	float: left;
	position: relative;
	width: 20%;
	margin: 0% 2.5%;
	height: 246px;
}

.result-item a {
	width: 100%;
	height: 100%;
	display: block;	
	color: #737171;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
}

.result-item a:hover {
	background: rgba(255,255,255,.9);	
}

.result-item a img {
	display: none;
	margin: 0 auto;
	padding-top: 90px;
}

.result-item a:hover img {
	display: block;
}

/* ===== FOOTER ===== */

footer {
	width: 100%;
	background: #EFEFEF;
	clear: both;
}

.small {
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	padding: 40px 0px;
}